<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
  <title>{% block title %}ICS Community Services{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  {# Load the tag library #}
  {% load bootstrap3 %}

  {% load static %}
  {# Display django.contrib.messages as Bootstrap alerts #}
  {% bootstrap_messages %}

{% endblock %}
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <!--<a class="navbar-brand" href="/home"><img src="{% static "ics_tool/images/logo.png" %}" alt="logo" style="margin-top:-10px;"></a>-->
      </div>
      <ul class="nav navbar-nav">
        <li><a href="#">About Us</a></li>

      </ul>

      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
        <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        {% else %}
        <li><a href="#">Login</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
  <div class="container">
  {% block content %}
  <script type="text/javascript">

  $(document).ready(function() {
    $(".dropdown-toggle").dropdown();
  });
  </script>
  {% endblock %}
</div>

</body>
</html>
